body {
    font-family: sans-serif;
}

#attributes-container {
    width: 800px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#legend-container {
    margin-bottom: 20px;
}

.form-check-group {
    width: 300px;
    display: inline-block;
    label {
        font-size: 13px;
    }
}

.title {
    font-size: 14px;
    font-weight: bold;
}

.legend-title {
    font-size: 12px;
    font-weight: bold;
}

.legned-tick {
    text {
        font-size: 12px;
    }
}
.tooltip {
    background-color: #ffffff;
    font-size: 14px;
    padding: 4px;
    color: #181818;
    border: none;
    box-shadow: 0px 0px 3px 0px #be29ec;
}

.cor-text {
    font-size: 13px;
    text-anchor: middle;
    alignment-baseline: middle;
    fill: #ffffff;
}

.x-axis-label {
    text-anchor: end;
    fill: #181818;
    font-size: 12px;
}

.y-axis-label {
    text-anchor: start;
    fill: #181818;
    font-size: 12px;
}

.axis-line {
    color: transparent;
}
